body{
    background-color: rgb(58, 54, 54);
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
}

header{
    background-color: #659DBD;
    color: white;
    height: 100%;
}

h1{
    color: white;
    text-align: center;
    padding: 20px 0;
    line-height: 1.1;
    margin: 0;
    text-transform: uppercase;
}

#colorDisplay{
    font-size: 200%;
}

.menu{
    background: white;
    height: 30px;
    text-align: center;
}

.box{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 50%;
}

#container{
    margin: 0px auto;
    max-width: 600px;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    font-family: 'Darker Grotesque', sans-serif;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
}

button:hover{
    color: white;
    background: #659DBD;
}

#spacing{
    display: inline-block;
    width: 20%;
}


#message{
    display: block;
    margin: 0 auto;
    width: fit-content;
}

.colorTransition{
    transition: background-color 0.4s ease;
}

.selected{
    background: #659DBD;
    color: white;
}

.messageDisplayFontSize{
    font-size: 50px;
    color: white;
}
