body{
    background-color: rgb(58, 54, 54);
    font-family: 'Darker Grotesque', sans-serif;
}

header{
    background-color: #659DBD;
    color: white;
    height: 100%;
    
}

.menu{
    margin: 1.66%;
    padding: 1.66%;
}

.box{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 20px;
}

#container{
    margin: 0px auto;
    max-width: 600px;
}

.colorTransition{
    transition: background-color 0.4s ease;
}

.positionReset{
    float: right;
}

.messageDisplayFontSize{
    font-size: 50px;
    color: white;
}